<nav class="navbar">
  <div (click)="navigateToMainPage()">
    <div class="navbar-logo" >
      <img src="assets/logo1.png" alt="Logo" />
    </div>
  </div>  
  <div >
      <h2>Let's Make a Better World</h2>
  </div>

    <div class="navbar-actions">
      <ng-container *ngIf="isAuthenticated; else notAuthenticated">
        <button (click)="signOut()">Sign out</button>
      </ng-container>
  
      <ng-template #notAuthenticated>
        <button (click)="goToRegistration()">Registration</button>
        <button (click)="goToLogin()">Login</button>
      </ng-template>
    </div>
  </nav>